// Cards 

.card {
  border-radius: 1rem;
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(233, 124, 158, .2);
  }
  
  .card-body {
    + .card-body {
      padding-top: 1rem;
    }
  }
  .card-title {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
  }
}

.card-group {
  box-shadow: $card-box-shadow;
  .card {
    box-shadow: none;
  }
}

.card-link {
  + .card-link {
    /*rtl:raw:
    margin-left: 1.5rem;
    margin-right: 0;
    */
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
      .card {
        --#{$prefix}card-border-color: #{$card-border-color-dark};
        --#{$prefix}card-box-shadow: #{$card-box-shadow-dark};
      }
  }
}
